<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <ul>
        <li><a href="/information">Information</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    <img th:src="${(name.equals('Istvan')) ? 'tiredfox.jpg' : 'greenfox.png'}"/>
    <p th:text="|This is ${name}. Currently living on pizza and water. He knows 2 tricks.|"></p>
    <h1>Known tricks</h1>
    <ul>
        <li>write HTML</li>
        <li>code in Java</li>
    </ul>
</body>
</html>