<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <h3>BANK OF SIMBA</h3>
    <p><i>Bank account informations:</i></p>
    <table>
        <tr>
            <td th:text="${accountData.name}"></td>
            <td th:text="${accountData.animalType}"></td>
            <td th:text="|${#numbers.formatDecimal(accountData.balance, 1, 2)} Zebras|"></td>
        </tr>
    </table>
</body>
</html>