<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/main.css}" />
    <title>Active Todos' List</title>
</head>
<body>
    <h1>ACTIVE TODOS:</h1>
    <table>
        <thead>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
        </thead>
        <th:block th:each="todo : ${activetodos}">
            <tr>
                <td th:text="${todo.id}"/>
                <td th:text="${todo.title}"/>
                <td th:text="${todo.done}"/>
                <td th:text="${todo.urgent}"/>
            </tr>
        </th:block>
    </table>
    <a href="/"><button type="button">Show all todos</button></a>
</body>
</html>