<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css" />
    <title>Todo List</title>
</head>
<body>
    <h1>TODOS FOR TODAY:</h1>
    <a href="/add">Add new todo</a>
    <table>
        <thead>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
        </thead>
        <th:block th:each="todo : ${todos}">
            <tr>
                <td th:text="${todo.id}"/>
                <td th:text="${todo.title}"/>
                <td th:text="${todo.done}"/>
                <td th:text="${todo.urgent}"/>
            </tr>
        </th:block>
    </table>
    <a href="/activetodoslist"><button type="button">Show active todos</button></a>
</body>
</html>