body {
    margin: 0 10%;
    font-family: 'Courier New', Courier, monospace;
    padding: 10%, 10%;
    background-image: url("topography.png")
}
h1, h3 {
    font-family: Consolas;
}
h3, a {
    color: #ff0099;
}
div content {
    padding-top: 50px;
}
#menu {
    display: inline;
    background-color: #333333;
    text-align: right;
    position: fixed;
    top: 0px;
    text-align: right;
    width: 80%;
}
img {
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;  
}
nav {
    float: right;
}
nav ul {
    margin-top: 10px;
	padding: 0 20px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul li {
    float: left;
    margin: auto 10px;
}
header {
    position: relative;
    margin: 0 auto;
}