body.red {
    background-color: red;
}

body.blue {
    background-color: blue;
}

body.lime {
    background-color: lime;
}

body.orange {
    background-color: orange;
}

body.magenta {
    background-color: magenta;
}